
.DS_Store
.vscode/
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# CLIENT
client/node_modules/
client/.pnp
client/.pnp.js
client/.yarn/

# Next.js build output
client/.next/
client/out/
client/build/

# Debug logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Typescript
client/*.tsbuildinfo
client/next-env.d.ts


# SERVER (C# / .NET)

server/bin/
server/obj/

# LOCAL DATABASE
server/*.db
server/*.db-shm
server/*.db-wal